.product-details {

display:grid;

grid-template-columns: 1fr 1fr;

gap:40px;

padding:50px;

background:#f7f7f7;

}




.product-image img {

width:100%;

height:450px;

object-fit:cover;

border-radius:20px;

}




.product-info {


background:white;

padding:35px;

border-radius:20px;

box-shadow:
0 5px 20px rgba(0,0,0,.1);

}




.product-info h1 {


font-size:40px;

color:#1b5e20;

}



.product-info h2 {


color:#d4af37;

font-size:30px;

}




.product-info p {

font-size:17px;

line-height:1.6;

}





.seller-card {


background:#f1f8e9;

padding:20px;

border-radius:15px;

}




.verified {


display:inline-block;

background:#1b5e20;

color:white;

padding:8px 15px;

border-radius:20px;

}





.product-buttons {


display:flex;

gap:15px;

margin-top:30px;

}





.product-buttons button {


flex:1;

padding:15px;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

}



.product-buttons button:first-child {


background:#d4af37;

}



.product-buttons button:nth-child(2){


background:#1b5e20;

color:white;

}



.product-buttons button:last-child{


background:#333;

color:white;


}




@media(max-width:768px){


.product-details{

grid-template-columns:1fr;

padding:20px;

}


.product-info h1{

font-size:30px;

}


}