.suppliers-page{

background:#f7f7f7;

min-height:100vh;

padding-bottom:50px;

}



.supplier-hero{

background:#1b5e20;

color:white;

padding:70px 30px;

text-align:center;

}



.supplier-hero h1{

font-size:45px;

}



.supplier-section{

padding:40px;

text-align:center;

}



.supplier-grid{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:25px;

}



.supplier-grid div{

background:white;

padding:30px;

border-radius:15px;

box-shadow:
0 5px 15px rgba(0,0,0,.1);

}



.suppliers-page button{

display:block;

margin:auto;

padding:15px 40px;

background:#d4af37;

border:none;

border-radius:10px;

cursor:pointer;

font-size:18px;

}



@media(max-width:768px){

.supplier-grid{

grid-template-columns:1fr;

}

}